
.UIWindow .UIWikiPortlet {
  min-width: 900px;
  border: none;
}

.WikiAttachmentArea .UIFormGrid {
  width: 100%;
}

.WikiAttachmentArea .UIFormGrid .RemoveFile {
  float: none;
}

.Border {
  border: solid 1px #B5B6B6;
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
}

.UIWikiSidePanelArea {
  width: 300px;
  float:right;
}

.UIWikiPageEditForm .UIWikiPageContentMarginRight {
  margin-right: 310px;
}

